// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// MDBootstrap
@import '~mdbootstrap/scss/mdb-pro';


p.collapse.collapse-text:not(.show)[aria-expanded="false"] {
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

p.collapsing.collapse-text[aria-expanded="false"] {
    min-height: 42px !important;
}

.collapse-text + a.collapsed:after  {
    content: '+ Show More';
}

.collapse-text + a:not(.collapsed):after {
    content: '- Show Less';
}
